<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <a href="#"
          ><img class="footer__logo mb-3" src="img/logo-white.svg" alt="logo"
        /></a>
        <p>© 2022 сервіс для пошуку нянь поблизу</p>
      </div>
      <div class="col-8">
        <nav class="footer__nav">
          <ul class="d-flex justify-content-end">
            <li><a href="#">Контакти</a></li>
            <li><a href="#">F.A.Q.</a></li>
            <li><a href="#">Блог</a></li>
            <li><a href="#">Фоpум</a></li>
            <li><a href="#">Анкети нянь</a></li>
            <li><a href="#">Оголошення про роботу</a></li>
          </ul>
        </nav>
        <div
          class="footer__language d-flex justify-content-end align-items-center"
        >
          <img
            class="footer__language-globe"
            src="img/globe-lang-white.svg"
            alt="globe"
          />
          <a class="footer__language-select d-flex align-items-center" href="#"
            >Українська
            <img src="img/triangle-white.svg" alt="triangle" />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
