<footer class="footer">
  <div class="container">
    <div class="row footer__block">
      <div
        class="col-12 col-lg-4 d-flex flex-column justify-content-center d-lg-block"
      >
        <a href="#"
          ><img class="footer__logo mb-3" src="img/logo-white.svg" alt="logo"
        /></a>
        <p class="d-none d-lg-block footer__service">© 2022 сервіс для пошуку нянь поблизу</p>
      </div>
      <div class="col-12 col-lg-8">
        <nav class="footer__nav">
          <ul
            class="d-flex flex-column flex-lg-row justify-content-center justify-content-lg-end"
          >
            <li><a href="#">Контакти</a></li>
            <li><a href="#">F.A.Q.</a></li>
            <li><a href="#">Блог</a></li>
            <li><a href="#">Фоpум</a></li>
            <li><a href="#">Анкети нянь</a></li>
            <li><a href="#">Оголошення про роботу</a></li>
          </ul>
        </nav>
        <div
          class="footer__language d-flex justify-content-center justify-content-lg-end align-items-center"
        >
          <img
            class="footer__language-globe"
            src="img/globe-lang-white.svg"
            alt="globe"
          />
          <a class="footer__language-select d-flex align-items-center" href="#"
            >Українська
            <img src="img/triangle-white.svg" alt="triangle" />
          </a>
        </div>
        <p class="d-flex justify-content-center d-lg-none">
          © 2022 сервіс для пошуку нянь поблизу
        </p>
      </div>
    </div>
  </div>
</footer>
