<header class="header">
    <div class="container">
      <div class="row">
        <div class="col-5 d-flex align-items-center">
          <img class="header__logo" src="img/logo.svg" alt="logo" />
          <div class="header__language d-flex align-items-center">
            <img
              class="header__language-globe"
              src="img/globe-lang.svg"
              alt="globe"
            />
            <a
              class="header__language-select d-flex align-items-center"
              href="#"
              >Українська
              <img src="img/triangle.svg" alt="triangle" />
            </a>
          </div>
        </div>
        <div class="col-7 d-flex align-items-center justify-content-end ">
          <button class="header__button" type="button">
            Розмістити оголошення
          </button>
          <button class="header__button header__button-white" type="button">
            Знайти роботу
          </button>
          <a class="header__entrance" href="#">
            <img src="img/unlock.svg" alt="" /> <span>Увійти</span>
          </a>
        </div>
      </div>
    </div>
  </header>