.hero {
  font-family: "Raleway";
  height: 458px;
  background: linear-gradient(102.5deg, #fff6da 0%, #ffdef2 100%);
  margin-bottom: 74px;
  &__main {
    margin-top: 160px;
    &-title {
      font-weight: 700;
      font-size: 56px;
      line-height: 1.2;
    }
    &-description {
      font-weight: 500;
      font-size: 32px;
      line-height: 1.2;
    }
  }
  &__form {
    select {
      display: flex;
      justify-content: center;
      align-items: center;
      align-items: center;
      border-radius: 32px;
      border: none;
      appearance: none;

      background-color: #ffffff;
      background-repeat: no-repeat;
      margin-right: 2%;
      font-family: "Roboto";
      font-weight: 600;
      font-size: 18px;
      line-height: 1.2;
      cursor: pointer;
    }
    #select-1 {
      padding: 20px 18px;
      width: 26%;
      background-image: url(../../img/chevron-down.svg);
      background-position: 93%;
    }
    #select-2 {
      padding: 20px 50px;
      width: 44%;
      background-image: url(../../img/chevron-down.svg),
        url(../../img/location.svg);
      background-position: 97%, 3%;
    }
    &-button {
      cursor: pointer;
      width: 26%;
      padding: 20px 18px;
      color: white;
      background-color: #1e3173;
      border-radius: 32px;
      font-family: "Roboto";
      font-weight: 600;
      font-size: 26px;
      line-height: 1.2;
      transition: 0.8s;
      &:hover {
        background-color: #0f1a41;
        transition: 0.8s;
      }
    }
  }
}

.for-parents {
  font-family: "Raleway";
  border-radius: 12px;
  height: auto;
  background-image: url(../../img/find-nanny.png);
  background-size: cover;
  margin: 0 0 100px 0;
  padding: 0;
  position: relative;
  &__gradient {
    height: 100%;
    border-radius: 12px;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(0, 0, 0, 0.07) 0%,
      rgba(0, 0, 0, 0.29) 100%
    );
  }
  &__note {
    font-weight: 700;
    font-size: 22px;
    color: #ffffff;
    margin-bottom: 38px;
  }
  &__title {
    font-weight: 800;
    font-size: 64px;
    color: #ffffff;
    margin-bottom: 120px;
  }

  &__item {
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    background-color: #1e3173;
    border-radius: 12px;
    padding: 18px 38px 18px 20px;
    position: relative;
    cursor: pointer;
    &:hover {
      color: #1e3173;
      background-color: #ffffff;
    }
    &:hover img.hover {
      display: block;
    }
    &-title {
      font-weight: 800;
      font-size: 24px;
      margin-bottom: 16px;
    }
    &-description {
      font-size: 16px;
      line-height: 1.2;
    }
  }
  img {
    position: absolute;
    right: 20px;
    top: 20px;
    &.hover {
      display: none;
    }
  }
}

.for-nanny {
  font-family: "Raleway";
  border-radius: 12px;
  height: auto;
  background-image: url(../../img/blue-background-for-nanny.svg),
    url(../../img/for-nanny.png);
  background-repeat: no-repeat;
  background-size: 50% 100%, contain;
  background-position: left, right;
  margin: 0 0 100px 0;
  padding: 0;
  position: relative;
  &__gradient {
    height: 100%;
    border-radius: 12px;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(0, 0, 0, 0.07) 0%,
      rgba(0, 0, 0, 0.29) 100%
    );
  }
  &__note {
    font-weight: 700;
    font-size: 22px;
    color: #ffffff;
    margin-bottom: 38px;
  }
  &__title {
    font-weight: 800;
    font-size: 64px;
    color: #ffffff;
    margin-bottom: 100px;
  }

  &__item {
    text-decoration: none;
    color: white;
    height: 100%;
    background-color: #000000;
    border-radius: 12px;
    padding: 18px 38px 18px 20px;
    position: relative;
    cursor: pointer;
    &:hover {
      color: #000000;
      background-color: #ffffff;
    }
    &:hover .for-nanny__item-description {
      color: #1e3173;
    }
    &:hover img.hover {
      display: block;
    }
    &-title {
      font-weight: 800;
      font-size: 24px;
      margin-bottom: 16px;
    }
    &-description {
      font-size: 16px;
      line-height: 1.2;
    }
  }
  img {
    position: absolute;
    right: 20px;
    top: 20px;
    &.hover {
      display: none;
    }
  }
}

.news {
  font-family: "Raleway";
  background: linear-gradient(102.5deg, #fff6da 0%, #ffdef2 100%);
  padding: 64px 0 48px 0;
  margin-bottom: 78px;
  &__block {
    position: relative;
    &-title {
      font-weight: 700;
      font-size: 48px;
    }
  }
  .nav__tabs {
    .item {
      font-family: "Roboto";
      font-size: 16px;
      padding: 10px 20px;
      border-radius: 24px;
      margin: 12px;
      color: #1e3173;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      transition: 0.8s;
      &:hover {
        background-color: #0f1a41;
        color: #ffffff;
        transition: 0.8s;
      }
      &.active {
        color: #ffffff;
        background: #1e3173;
        border: 1px solid #1e3173;
        transition: 0.8s;
      }
    }
  }
  .content__tabs {
    margin-bottom: 50px;
    .slick-arrow.control-c {
      position: absolute;
      top: -100px;
      right: 0;
      z-index: 2;
      cursor: pointer;
    }
    .arrow-prev.control-c {
      right: 100px;
    }
    .arrow-next.control-c {
      right: 40px;
    }

    .content {
      cursor: pointer;

      img {
        border-radius: 12px;
        margin: 0 0 26px 0;
        padding: 0;
      }
      &__title {
        font-weight: 700;
        font-size: 24px;
      }
      &__date {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.1;
        color: #aaaaaa;
      }
      &__tag-button {
        background: transparent;
        border: 1px solid #1e3173;
        border-radius: 20px;
        padding: 6px 12px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.1;
        color: #1e3173;
        transition: 0.8s;
        &:hover {
          background-color: #0f1a41;
          color: #ffffff;
          transition: 0.8s;
        }
      }
    }
  }
  .button__read-more {
    padding: 16px 0;
    width: 30%;
    border: 2px solid #1e3173;
    background: transparent;
    border-radius: 32px;
    font-family: "Roboto";
    font-weight: 600;
    font-size: 22px;
    line-height: 1.4;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #1e3173;
    gap: 10px;
    transition: 0.8s;
    &:hover {
      background-color: #0f1a41;
      color: #ffffff;
      transition: 0.8s;
    }
  }
}
